html {height:100%}
body {height:100%}
.wrap {
	position: relative;
    height: auto !important;
    min-height: 100%;
    padding-bottom:60px;
}
.jobs-footer {
	position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */
    background-color:rgb(34, 34, 34);
    color: rgb(157, 157, 157);
    height: 50px;
    padding-top:10px;
}

.search-listing{padding-bottom: 10px;}

.search-listing:nth-child(odd) {
    background: #ffffff;
}

.search-listing:nth-child(even) {
    background: #f7f7f9;
}

.vis-heading {
	background-color: #6f5499;
	color: white;
	padding-top:2em;
    padding-bottom:2em;
	margin-top: -20px;
	margin-bottom: 20px;
}
#apply_botton {margin-top:10px;}